*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    color: #fff;
    font-family: sans-serif;
}

header{
    background-color: #4c2d90;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    display: block;
    align-items: center;
    align-content: center;
    height: 10vh;
}

main{
    width: 80%;
    background-color: #101010;
    margin-left: 10%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;   
}

img{
    margin: 10px;
    border-radius: 50px;
    transition: 0.1s;
}


